div, body, h1, img, p, article, aside, nav, section {
  padding: 0;
  margin: 0; }

h1, h2, h3, h4 {
  font-family: ubuntubold, sans-serif;
  letter-spacing: 1px;
  font-size: auto; }

body {
  background-color: #e0e0e0;
  font-size: 14px;
  font-family: "Times New Roman";
  text-rendering: optimizeLegibility;
  color: #353535;
  padding-top: 0 !important;
  background-image: url(../images/bg-body-header.png), url(../images/bg-body-footer.png);
  background-position: top left, bottom left;
  background-repeat: repeat-x; }

footer {
  position: relative;
  bottom: 15px; }

#page {
  padding-top: 12px;
  padding-left: 49px;
  padding-right: 40px;
  width: 960px;
  margin: 20px auto; }

#columns {
  margin-top: 45px;
  margin-bottom: 76px; }
  #columns .region-inner {
    margin: 15px; }

#main-content {
  width: 655px;
  border-radius: 5px;
  background-color: white; }

.sidebar {
  width: 280px;
  border-radius: 5px;
  background-color: white; }

#branding {
  height: 128px;
  float: left; }

#logo {
  margin-top: 21px; }

.mainmenu ul.menu {
  margin: 76px 12px 0 0;
  float: right; }
  .mainmenu ul.menu li {
    list-style: none;
    padding: 0 0 0 0;
    display: inline-block;
    position: relative; }
    .mainmenu ul.menu li a {
      list-style: none outside none;
      padding: 0 0 0 1.333em;
      letter-spacing: 1px;
      line-height: 2.666em;
      padding-left: 12px;
      vertical-align: baseline;
      font-family: ubunturegular, sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: normal;
      height: 37px;
      line-height: 37.324px; }
      .mainmenu ul.menu li a:link {
        text-decoration: none;
        color: black; }
      .mainmenu ul.menu li a:visited {
        color: black; }
      .mainmenu ul.menu li a:hover {
        color: #d61e02; }

input[type=submit] {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.7px;
  font-size: 12px;
  font-weight: bold;
  background: #d61e02;
  background: -webkit-gradient(linear, left top, left bottom, from(#d61e02), to(#af1e2d));
  background: -moz-linear-gradient(-90deg, #d61e02, #af1e2d);
  background: -o-linear-gradient(-90deg, #d61e02 0%, #af1e2d 100%);
  background: -ms-linear-gradient(-90deg, #d61e02 0%, #af1e2d 100%);
  background: linear-gradient(-90deg, #d61e02 0%, #af1e2d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#D61E02, endColorstr=#AF1E2D);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#D61E02, endColorstr=#AF1E2D);
  border: 1px solid #d61e02;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-shadow: black 0 1px 0;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.2) inset;
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.2) inset;
  color: #efefef;
  -webkit-font-smoothing: antialiased;
  cursor: pointer; }

/*---------------CSS POST--------------- */
#main-content header {
  margin: 0px 15px 15px 0px;
  padding-top: 15px; }
#main-content #content {
  margin: 0px 15px 15px 15px;
  padding-top: 12px; }

.node-content img, .field-content img {
  margin-bottom: 20px;
  margin-top: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  width: 100%;
  height: auto; }

.username {
  font-family: "Times New Roman" !important; }

.node-title, .views-field-title {
  font-size: auto;
  margin-top: 0px;
  margin-bottom: 19px; }
  .node-title a, .views-field-title a {
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    height: auto; }
  .node-title a:link, .views-field-title a:link {
    color: #d61e02;
    text-decoration: none;
    font-weight: bold; }
  .node-title a:hover, .views-field-title a:hover {
    color: black; }
  .node-title a:visited, .views-field-title a:visited {
    color: #d61e02; }

.pager {
  font-size: auto; }
  .pager a {
    font-style: normal;
    font-weight: bold;
    height: auto; }
  .pager a:link {
    color: #d61e02;
    text-decoration: none;
    font-weight: bold; }
  .pager a:hover {
    color: black; }
  .pager a:visited {
    color: #d61e02; }

.submitted {
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

.author-datetime a, .author-datetime time, .field-content a, .field-content time {
  color: #d61e02;
  text-decoration: none;
  font-weight: bold; }
.author-datetime a:hover, .field-content a:hover {
  color: black; }

.time {
  color: #d61e02;
  text-decoration: none;
  font-weight: bold; }

.views-row, .article {
  margin-bottom: 20px; }
  .views-row:after, .article:after {
    height: 50px;
    width: 100%;
    content: url(../images/sombra.png);
    visibility: visible;
    margin-bottom: 20px; }

.sharethis-wrapper {
  margin-bottom: 15px; }

#page-title {
  margin-left: 15px;
  color: #d61e02; }

input[type=submit] {
  font-family: Arial, Helvetica, sans-serif;
  padding: 6px 10px;
  letter-spacing: 0.7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.42857;
  background: #d61e02;
  background: linear-gradient(-90deg, #d61e02 0%, #af1e2d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#D61E02, endColorstr=#AF1E2D);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#D61E02, endColorstr=#AF1E2D);
  border: 1px solid #d61e02;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-shadow: black 0 1px 0;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.2) inset;
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.2) inset;
  color: #efefef;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  /*---------------CSS SIDEBAR--------------- */ }
  input[type=submit]:hover {
    color: white;
    font-size: 12px;
    font-weight: bold;
    background: #ea4856;
    background: -webkit-gradient(linear, left top, left bottom, from(#ea4856), to(#d61e02));
    background: -moz-linear-gradient(-90deg, #ea4856, #d61e02);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EA4856, endColorstr=#D61E02);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EA4856, endColorstr=#D61E02); }

.sidebar {
  width: 280px; }
  .sidebar li {
    text-decoration: none;
    list-style: none;
    margin: 0 auto;
    color: #d61e02;
    font-weight: bold; }
    .sidebar li a:link {
      text-decoration: none !important; }
    .sidebar li a:hover {
      color: black; }
    .sidebar li a:visited {
      color: #d61e02; }
  .sidebar .block-menu, .sidebar .block-views {
    border: 1px solid #d61e02;
    padding: 9px;
    text-align: center;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 20px !important; }
    .sidebar .block-menu .field-content, .sidebar .block-views .field-content {
      padding-top: 0px; }
    .sidebar .block-menu h2, .sidebar .block-views h2 {
      margin: auto;
      font-size: 11px;
      line-height: 2.18182;
      font-weight: bold;
      font-family: ubuntubold, sans-serif;
      text-transform: uppercase; }
    .sidebar .block-menu a, .sidebar .block-views a {
      font-size: 14px; }
  .sidebar .block-title {
    text-align: center; }

#block-search-form {
  margin: auto;
  width: 96%;
  margin-bottom: 20px; }
  #block-search-form .content {
    margin: auto; }
  #block-search-form input[type=search] {
    font-size: 12px;
    width: 164px;
    padding: 6px;
    font-family: inherit;
    border: 1px solid #cccccc;
    border-radius: 3px; }
    #block-search-form input[type=search]:focus {
      outline: 0px;
      border: 1px solid #666666;
      -moz-box-shadow: 0 0 4px #99a2aa;
      -webkit-box-shadow: 0 0 4px #99a2aa;
      box-shadow: 0 0 4px #99a2aa; }

.block-after {
  margin-top: 10 px; }
  .block-after .views-row, .block-after .views-field-title {
    margin-bottom: 0px; }
    .block-after .views-row:after, .block-after .views-field-title:after {
      height: 50px;
      width: 100%;
      content: none;
      visibility: visible;
      margin-bottom: 0px; }

.views-field-created .field-content {
  color: #d61e02;
  text-decoration: none;
  font-weight: bold; }

.field-type-taxonomy-term-reference {
  float: left;
  margin: 0;
  padding: 0;
  font-size: 14px; }
  .field-type-taxonomy-term-reference h2 {
    font-size: 11px;
    margin: 0;
    padding: 0; }
  .field-type-taxonomy-term-reference ul {
    margin: 0;
    padding: 0; }
  .field-type-taxonomy-term-reference li {
    display: inline-block; }
  .field-type-taxonomy-term-reference a {
    margin: 0;
    padding: 0;
    color: #d61e02;
    font-weight: bold; }
  .field-type-taxonomy-term-reference a:link {
    text-decoration: none !important; }
  .field-type-taxonomy-term-reference a:hover {
    color: black; }
  .field-type-taxonomy-term-reference a:visited {
    color: #d61e02; }

#comments {
  clear: both; }

.node-header {
  font-size: 18px;
  padding-top: 0px; }

#block-block-2 {
  float: left; }

#block-system-main-menu--2 {
  float: right; }
  #block-system-main-menu--2 a {
    font-size: 16px;
    float: left;
    padding: 0 0 0 1.8em;
    text-decoration: none;
    color: white;
    font-family: "ubunturegular", sans-serif;
    font-weight: 300; }
  #block-system-main-menu--2 .menu {
    margin: 0;
    padding: 0; }
