div,body
  padding: 0
  margin: 0

body
  width: 1903px
  background-color: #e0e0e0

#page-wrapper
  background-image: url(../images/bg-body-header.png), url(../images/bg-body-footer.png)
  background-position: top left, bottom left
  background-repeat: repeat-x

#page
  padding-top: 32px
  padding-left: 49px
  padding-right: 40px
  margin: auto

#branding
  height: 128px
  float: left

#logo
  margin-top: 21px
.mainmenu
  div
  ul.menu 	
    margin: 69px 12px 0 0
    float: right
    li
      list-style: none
      padding: 0 0 0 0
      display: inline-block
      font-family: 'ubunturegular',sans-serif
      font-weight: 400
      font-size: 19px
      position: relative
      a
        list-style: none outside none
        padding: 0 0 0 1.333em
        line-height: 2.666em
        padding-left: 12px
        vertical-align: baseline
      a:link
        text-decoration: none
        color: black
      a:visited
        color: black
      a:hover
        color: #d61e02
